<h1>My Athletes</h1>

<h3>Athlete Count: </h3><%= @trainer_athletes.length %>
<% @trainer_athletes.each do |athlete| %>
  <ul>
    <%= athlete.name %>
    <li>Id: <%= athlete.id %></li>
  </ul>
<% end %>
